In [97]:
pip install -i https://test.pypi.org/simple/ lambdata-timrocar==0.0.95

Looking in indexes: https://test.pypi.org/simple/
Collecting lambdata-timrocar==0.0.95
  Downloading https://test-files.pythonhosted.org/packages/b2/c1/730eb4bb691acc172dd183e09e090a2b74776e9adb18f36f3b81aa0215cd/lambdata_timrocar-0.0.95-py3-none-any.whl (5.6 kB)
Requirement already satisfied: pandas in c:\users\timro\appdata\local\programs\python\python38\lib\site-packages (from lambdata-timrocar==0.0.95) (1.1.1)
Requirement already satisfied: numpy in c:\users\timro\appdata\local\programs\python\python38\lib\site-packages (from lambdata-timrocar==0.0.95) (1.19.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\timro\appdata\local\programs\python\python38\lib\site-packages (from pandas->lambdata-timrocar==0.0.95) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\timro\appdata\local\programs\python\python38\lib\site-packages (from pandas->lambdata-timrocar==0.0.95) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\timro\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.7.3->pandas->lambdata-timrocar==0.0.95) (1.15.0)
Installing collected packages: lambdata-timrocar
  Attempting uninstall: lambdata-timrocar
    Found existing installation: lambdata-timrocar 0.0.94
    Uninstalling lambdata-timrocar-0.0.94:
      Successfully uninstalled lambdata-timrocar-0.0.94
Successfully installed lambdata-timrocar-0.0.95
Note: you may need to restart the kernel to use updated packages.
WARNING: You are using pip version 20.2; however, version 20.2.2 is available.
You should consider upgrading via the 'C:\Users\timro\AppData\Local\Programs\Python\Python38\python.exe -m pip install --upgrade pip' command.

In [98]:
import pandas as pd
import numpy as np
import lambdata

In [99]:
from lambdata import functions
from lambdata import testclass
from lambdata imp

In [102]:
dir(testclass)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'dates',
 'datetime',
 'dfwrangler',
 'np',
 'pd']

In [68]:
lambdata.test

     0
0  1.0
1  1.0
2  1.0
3  1.0
4  1.0
5  1.0
6  1.0
7  1.0
8  1.0
9  1.0

In [69]:
dir(functions)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'addlist',
 'datetime',
 'np',
 'pd',
 'splitdate']

In [70]:
testing = pd.DataFrame(np.ones(7))
l = ['a', 'list', 'of', 'nothing', 'but', 'silly', 'words']
testing.head()

     0
0  1.0
1  1.0
2  1.0
3  1.0
4  1.0

In [107]:
testclass.adding()

AttributeError: module 'lambdata.testclass' has no attribute 'adding'

In [85]:
functions.addlist(testing, l)
testing.head(7)

     0  listcol
0  1.0        a
1  1.0     list
2  1.0       of
3  1.0  nothing
4  1.0      but
5  1.0    silly
6  1.0    words

In [103]:
DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Kaggle-Challenge/master/data/'
df = pd.merge(pd.read_csv(DATA_PATH+'waterpumps/train_features.csv'), 
                 pd.read_csv(DATA_PATH+'waterpumps/train_labels.csv'))

In [104]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [110]:
x = testclass.dates(df, 'date_recorded')

TypeError: 'tuple' object is not callable

In [ ]:
testclass.splitdates(df, 'date_recorded')

In [11]:
df.dtypes

id                                int64
amount_tsh                      float64
date_recorded            datetime64[ns]
funder                           object
gps_height                        int64
installer                        object
longitude                       float64
latitude                        float64
wpt_name                         object
num_private                       int64
basin                            object
subvillage                       object
region                           object
region_code                       int64
district_code                     int64
lga                              object
ward                             object
population                        int64
public_meeting                   object
recorded_by                      object
scheme_management                object
scheme_name                      object
permit                           object
construction_year                 int64
extraction_type                  object
extraction_type_group            object
extraction_type_class            object
management                       object
management_group                 object
payment                          object
payment_type                     object
water_quality                    object
quality_group                    object
quantity                         object
quantity_group                   object
source                           object
source_type                      object
source_class                     object
waterpoint_type                  object
waterpoint_type_group            object
status_group                     object
year                              int64
month                             int64
day                               int64
dtype: object